body{
    display: flex;
    height: 100vh;
    align-items:stretch;
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
}

.shebang{
    display: flex;
    background-color: white;
    align-items:stretch;
}

.sidebar{
    flex: 2 1 auto;
    background-image: url("./bg.avif");

    background-color: #cccccc;

   
}
.top{
    padding-top: 10vh;
}
ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    margin-top: 8px;
    list-style: none;
    gap: 30px;
}
li{
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

.form-input{
    background-color: ghostwhite;
    padding-top: 5%;
    padding-bottom: 5%;
    box-shadow: 0px 4px  #888888, 0px -2px  #888888;
}
.logo{
    margin-top: 20vh;
    background-color: black;
    border: solid black 1px;
    opacity: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13%;
    width: 25vw;
}
.logo-img{
    width: 20%;
    height: 70%;
}
.logo-text{
    color: White;
    align-self: center;
}
p{
    width: 70%;
    padding-left: 5%;
}
.content{
    background-color: white;
    justify-content: center;
    height: 100%;
    flex: 1.5 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}